# .gitignore
# Firebase secrets
backend/firebase-service-account.json
serviceAccountKey*.json

# Environment files
.env
.env.*
!.env.example

# VS Code settings
.vscode/

#Terraform thing
.terraform/appsettings.json


.terraform/
*.tfstate
*.tfstate.*
crash.log
*.backup
*.log

terraform/.terraform/
